
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.otf');
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#glyphicons_halflingsregular') format('svg');
}

body{
    margin: 0px;
}

.header{
    background-color: #fff;
    border-bottom-color: #e1e1e1;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 5;
    border-bottom: solid 2px #E0E1E3;
}

.header_logo{
    float: left;
    padding: 20px 35px 20px 120px;
    display: inline-block;
}

.menu {
    float: left;
    margin: 0;
}

.menu ul {
    border: 0 none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    border: 0 none;
    float: left;
    margin: 0;
    padding-right: 40px;

}

.menu ul li a {
    border-bottom: 3px solid #fff;
    color: #333;
    float: left;
    font: 14px/65px f_museo_slab_3,sans-serif;
    text-decoration: none;
}

.menu ul li a:hover{
    color: #ABD062;
    border-bottom: 3px #ABD062 solid;

}
.font_awesome{
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 1px;
}

.bucket:before {
    content: "";
}

.search_link:before {
    content: "";
}

.content1{
    background-image: url("../images/slider/syftet-main-slider-blur-new.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 660px;
    margin: 0;
    width: 100%;
    background-attachment: fixed;

}

.content2{
    background-color: white;

}

.content2_content{
    margin: auto;
}

.content2_header h2{
    color: #333;
    text-align: center;
}

.content2_header p {
    font-family: f_museo_slab_3,sans-serif;
    font-size: 16px;
    line-height: 10px;
    color: #333;
    padding-bottom: 10px;
    text-align: center;
}

.separator{
    border-bottom:1px #e1e1e1 solid;
    border-top:1px #e1e1e1 solid;
    height: 8px;
    margin-bottom: 40px;
}


.separator_bl{
    border-bottom:1px #e7e6e6 solid;
    border-top:1px #e7e6e6 solid;
    height: 8px;

}

.clear{
    clear: both;
}

.content2_image{
    padding-top: 35px;
}

.content2_image img{
    width: 100%;
}

.hide{
    visibility: hidden;
}
.show{
    visibility:  visible;
}

.content3{
    background-image: url("../images/bg6b_bw.jpg");
    background-attachment: fixed;
    background-color: #f8f8f8;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #e5e4e4;
    border-color: #e5e4e4;
    border-top: 1px solid #e5e4e4;
    padding: 10px 0 15px;
}

.content3_text{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
}

.content3_text h2{
    color: #333;
    font-family: "f_aleijadinho",arial,helvetica,sans-serif;
    font-weight: normal;
    text-align: center;
    display: block;
}

.content3_text p{
    font-size: 16px;
    font-family: f_museo_slab_3,arial,helvetica,sans-serif;
    font-weight: normal;
    line-height: 27px;
    text-align: center;
    color: #929292;
}
.content3_content{
    margin: 0 auto;
    max-width: 1150px;
}
.content3_image{
    display: inline-block;
    float: left;
    width: 43%;
}

.content3_image img{
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: top;
    width: 100%;
}
.counter{
    border: 1px solid #e0dede;
    display: inline-block;
    margin: 7px;
    padding: 17px;
    width: 100%;
}

.counter p{
    font-family: f_museo_slab_3, arial, helvetica, sans-serif;
    padding: 0px;
    color:#747474;
}

.counter_no{
    color: #a0ce4e;
    font-family: "f_aleijadinho", arial, helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    line-height: normal;
}

.content4_content{
    margin: 0 auto;
    max-width: 1150px;
}

.content4{
    background-attachment: fixed;
    background-color: #fff;
}

.content4_text h1{
    color: #333;
    font-family: "f_conv_delicatesans_bold",arial,helvetica,sans-serif;
    font-size: 35px;
    font-weight: normal;
    text-align: center;
}

.content4_text p{
    font-family: f_museo_slab_3, sans-serif;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #747474;
}

.content4_text{
    padding: 20px;
}

.content4_image{
    text-align: center;
    padding: 20px;
}

.content4_image img{
    border-style: none;
    height: auto;
    max-width: 80%;
    vertical-align: top;
}

.content5{
    background-attachment: fixed;
    background-color: #333333;
    max-height: 500px;
}

.content5_text h2{
    color: #fff !important;
    font-family: "f_aleijadinho",arial,helvetica,sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin: 0px;
    padding-top: 30px;
}

.content5_text p {
    color: #747474;
    font-family: f_museo_slab_3,sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 30px;
    text-align: center;
}

.content5_content{
    margin: 0 auto;
    max-width: 1150px;
    position: relative;
}

.content5_content:after {
    border-color: #333 transparent transparent;
    border-style: solid;
    border-width: 24px 24px 24px 25px;
    bottom: -26%;
    content: "";
    left: 49%;
    position: absolute;
}

.content6{
    background-attachment: fixed;
}
.content6_content{
    margin: auto;
    max-width: 1150px;
}

.content6_image{
    margin: auto;
    max-width: 1150px;
    padding-top: 70px;
}

.image_content{
    display: inline-block;
    float: left;
    padding-right: 30px;
    width: 30.667%;
}
.image_content h2{
    color: #616161;
}

.image_content p{
    font-family: f_museo_slab_3, sans-serif;
    color: #747474;
}

.content7{
    background-attachment: fixed;
    background-color: #333333;
    max-height: 500px;

}

.content7_content{
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
    padding-top: 50px;
}

.content7_content:after {
    border-color: transparent transparent #333;
    border-style: solid;
    border-width: 24px 24px 24px 25px;
    bottom: 100%;
    content: "";
    left: 49%;
    position: absolute;
}

.content7_content h1{
    color: #ffffff;
    text-align: center;
}

.list1 ul{
    list-style: none;
}

.list1 ul li span{
    background-color: #a0ce4e;
    font-size: 10px;
    float: left;
    height: 21px;
    margin-right: 9px;
    width: 21px;
    border-radius: 50%;
    text-align: center;
}

.font_awesome1{
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    position: relative;
    top: 0;
}

.icon:before {
    content: "";
    color: #333;
}


.list1{
    width:33%;
    display: inline-block;
}
.list1 ul li p{
    color: #fff;
}
.content8{
    background-attachment: fixed;
    background-color: #a0ce4e;
    min-height:90px;
    padding-top: 50px;
}
.content8_content{
    margin: 0 auto;
    max-width: 1100px;
    position: relative;

}

.content8_sep{
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    display: inline-block;
    height: 8px;
    margin-bottom: 20px;
    margin-right: 6%;
    position: relative;
    vertical-align: text-top;
    width: 28%;
}

.content8_sep_r{
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    display: inline-block;
    height: 8px;
    margin-bottom: 20px;
    margin-left: 4%;
    position: relative;
    vertical-align: text-top;
    width: 28%;
}

.content8_mid{
    border: 2px solid #fff;
    display: inline-block;
    padding-right: 30px;
    width: 28%;
    text-align: center;
    padding: 25px;
}
.content8_mid span{
    vertical-align: bottom;
    font-weight: bold;
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    color: #ffffff;
}

.content9{
    background-attachment: fixed;
    background-color: #ffffff;
    padding-top: 30px;
    margin-bottom: -5px;
}
.content9_content{
    margin: 0 auto;
    max-width: 1100px;
    position: relative;

}

.content9_text h1{
    text-align: center;
    color: #333;
    font-family: "MuseoSlab500Regular",arial,helvetica,sans-serif;
    font-weight: normal;
}

.content9_text p{
    font-size: 18px;
    line-height: 27px;
    text-align: center; 
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
}

.content9_image{
     padding: 20px 20px 0;
    text-align: center;
}

.content10{
    background-image:  url("../images/bkgd13.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #c6c6c6;
    border-color: #c6c6c6;
    border-top: 1px solid #c6c6c6;
    padding: 5px 0 50px;
}

.content10_content{
    margin: 0 auto;
    max-width: 1150px;
    position: relative;
}

.content10_text {
    display: block;
    text-align: center;
}

.content10_text h2{
    color: #333;
    font-family: f_aleijadinho,arial,helvetica,sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

.content10_text p{
    font-family: f_museo_slab_3, sans-serif;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #333333;
}

.content2_header h1 {
    font-family: f_conv_delicatesans_bold, sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: normal;
}

.content10_box{
    border: 2px solid #333333;
    display: inline-block;
    padding-right: 30px;
    width: 33%;
    text-align: center;
    padding: 25px;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: none;
    font-weight: bold;
}

.content11{
    background-attachment: fixed;
    background-color: #ffffff;
    padding-top: 30px;
    margin-bottom: -5px;
}

.content11_content{
    margin: 0 auto;
    max-width: 1100px;
    position: relative;

}

.content11_text h1{
    text-align: center;
     color: #333;
    font-family: "MuseoSlab500Regular",arial,helvetica,sans-serif;
    font-weight: normal;
}

.content11_text p{
    font-size: 18px;
    line-height: 27px;
    text-align: center; 
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
     color: #747474;
}

.content11_image{
    text-align: center;
}

.content12{
    background-attachment: fixed;
    background-color: #333333;
    max-height: 500px;
}

.content12_text h1{
    color: #fff !important;
    font-family: "MuseoSlab500Regular",arial,helvetica,sans-serif;
    font-weight: normal;
    text-align: center;
    margin: 0px;
    padding-top: 30px;
}

.content12_text p{
    margin: 0px;
    padding: 30px;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #747474;
}

.content12_content{
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
}

.content12_content:after {
    border-color: #333 transparent transparent;
    border-style: solid;
    border-width: 24px 24px 24px 25px;
    bottom: -26%;
    content: "";
    left: 49%;
    position: absolute;
}

.content13{
    background-image:  url("../images/bkgd13.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #c6c6c6;
    border-color: #c6c6c6;
    border-top: 1px solid #c6c6c6;
     padding: 65px 0 50px;
}

.content13_content{
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
}

.content13_image{
     display: inline-block;
    padding-left: 10px;
    padding-right: 13px;
    text-align: center;
    width: 31%;
    padding-bottom: 30px;
}

.content13_image h2{
    color: #333;
    font-family: "MuseoSlab500Regular",arial,helvetica,sans-serif;
    font-weight: normal;
}

.content14{
    background-attachment: fixed;
    background-color: #ffffff;
    padding-top: 30px;
    margin-bottom: -5px;
     padding: 45px 0 65px;
}

.content14_content{
    margin: 0 auto;
    max-width: 1100px;
    position: relative;

}

.content14_text h1{
    text-align: center;
     color: #333;
    font-family: "MuseoSlab500Regular",arial,helvetica,sans-serif;
    font-weight: normal;
}

.content14_text p{
    font-size: 18px;
    line-height: 27px;
    text-align: center; 
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
     color: #747474;
}

.content14_image{
        display: inline-block;
    padding-left: 10px;
    padding-right: 13px;
    text-align: center;
    width: 31%;
}

.content15{
    background-attachment: fixed;
    background-color: #333333;
    max-height: 500px;
}

.content15_text h1{
    color: #fff !important;
    font-family: "MuseoSlab500Regular",arial,helvetica,sans-serif;
    font-weight: normal;
    text-align: center;
    margin: 0px;
    padding-top: 30px;
}

.content15_text p{
    margin: 0px;
    padding: 30px;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #747474;
}

.content15_content{
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
}

.content15_content:after {
    border-color: #333 transparent transparent;
    border-style: solid;
    border-width: 24px 24px 24px 25px;
    bottom: -26%;
    content: "";
    left: 49%;
    position: absolute;
}

.content16{
    background-attachment: fixed;
    background-color: #ffffff;
    padding-top: 30px;
    margin-bottom: -5px;
     padding: 45px 0 65px;
}
.content16_content{
    margin: 0 auto;
    max-width: 1100px;
    position: relative;

}

.content16_text h1{
    text-align: center;
     color: #333;
    font-family: "MuseoSlab500Regular",arial,helvetica,sans-serif;
    font-weight: normal;
}

.content16_text p{
    font-size: 18px;
    line-height: 27px;
    text-align: center; 
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
     color: #747474;
}

.content16_review{
    display: inline-block;
    padding-left: 10px;
    padding-right: 13px;
    text-align: center;
    width: 31%;
    position: relative;
}

.review_text{
     background-color: #f6f6f6;
    color: #747474;
}

.font_awesome2{
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 2;
    position: relative;
    top: 0;
}

.auth:before {
    content: "";
    color: #333;
}

.content16_review:after {
    border-color: #f6f6f6 transparent transparent;
    border-style: solid;
    border-width: 14px 14px 14px 15px;
    bottom: 32px;
    content: "";
    left: 13%;
    position: absolute;
}

.review_author{
    float: left;
}
.company_name{
    padding: 20px;
}

.content17 {
    background-image: url("../images/bkgd13.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #c6c6c6;
    border-color: #c6c6c6;
    border-top: 1px solid #c6c6c6;
    padding: 20px 0;
    margin-top: 30px;
}

.content17_content{
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
}

.content17_text{
    width:78%;
    display: inline-block;
    text-align: center;
    color: #333333;
}

.content17_text h1{
    font-family: "f_aleijadinho", arial, helvetica, sans-serif;
    font-size: 30px;
}

.content17_box{
    border: 2px solid #333333;
    display: inline-block;
    padding-right: 30px;
    width: 15%;
    text-align: center;
    padding: 25px;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: none;
    font-weight: bold;
    display: inline-block;
}

.footer-warraper{
    background-position: left top;
    background-size: cover;
    border-color: #c6c6c6;
    border-top: 12px solid #c6c6c6;
    padding: 28px;
    background-color: #363839;
}

.footer-section{
    position: relative;
}

.footer-section-col-left p{
    color: white;
    font-family: f_museo_slab_3,serif,arial;
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: 15px;
    text-align: justify;
}

.footer-section-col-mid{}

.footer-section-col-right{}

.content_content18 {
    display: inline-block;
    padding-right: 10px;
    vertical-align: top;
    width: 23%;
    font-size: 13px;
    line-height: 20px;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

.content_content18 p {
    color: white;
    font-family: f_museo_slab_3,serif,arial;
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: 15px;
    text-align: justify;
}

.content_content18 h3 {
    color: #8c8989;
    font-family: f_aleijadinho,arial,serif;
    letter-spacing: 2px;
    margin-top: 0;
    text-shadow: 1px 1px black;
}

.content_content18 ul{
    list-style: outside none none;
    padding: 0px;
}


.content_link li span{
    color: #fff;
    vertical-align: top;
}

.content_content18 ul li a {
    display: block;
    font-family: f_museo_slab_3, serif, arial;
    font-size: 14px;
    letter-spacing: 2px;
    padding-top: 3px;
    text-decoration: none;
}

.content_link li{
    padding-bottom: 12px;
    border-bottom: 1px solid #505152;
}

.font_awesome3{
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    position: relative;
    
}

.jtwt_tweet:before {
    content: "";
    color: white;
}

.tweet li span{
    color: #fff;
    vertical-align: top;
}
.tweet li{
    padding: 20px 20px 20px 0;
}

.recent_image{
    width: 19%;
    display: inline-block;
    padding: 5px 7px 0 5px;
}

.content19{
    background-position: left top;
    background-size: cover;
    border-color: #4b4c4d;
    border-top: 2px solid #4b4c4d;
    background-color: #282a2b;
}

.content19_content{
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
     
}

.content_content19{
    padding: 20px;
}

.copy_right{
    display: inline-block;
    width:45%;
    font-size: 10px;
    color: #8c8989;
}

.social{
    display: inline-block;
    width:45%;
    font-size: 10px;
    color: #8c8989;
    float: right;
}

.font_awesome4{
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    position: relative;
    
}

.fb:before {
    content: "";
    color: #8c8989;
}

.service-title h2{
    font-family: f_aleijadinho, arial, helvetica, sans-serif;
    font-size: 25px;
}

.service-title p {
    font-family: f_museo_slab_3,arial,helvetica,sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: 20px;
}

.location-map{}

